<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div class="menu-bar">
			<button type="button" class="close-btn">
				<span aria-label="Close Window">&times;</span>
			</button>
		</div>

		<form id="password-form">
			<div id="fields">
				<label for="#password-field" class="text-label">
					Enter password for
					<span id="username-spot"></span>
				</label>
				<input
					autocomplete="false"
					id="password-field"
					name="password"
					type="password"
				/>

				<div class="checkbox-group">
					<label for="#save-password" class="checkbox-label"
						>Remember password?
					</label>
					<input id="save-password" name="save" type="checkbox" />
				</div>
			</div>

			<div class="button-bar">
				<button type="button" class="close-btn">Cancel</button>
				<button type="submit" id="submit-btn" class="primary-btn">
					Login
				</button>
			</div>
		</form>
	</body>
</html>
