@import "base.css";

body {
	margin: 5px;
}

button {
	cursor: pointer;
}

.menu-bar {
	-webkit-app-region: drag;
	-webkit-user-select: none;
	user-select: none;

	display: flex;
	justify-content: flex-end;
	left: 5px;
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 1;
}

.menu-bar button {
	color: #ffffff;
	font-size: 24px;
	width: 36px;
}

.close-btn {
	-webkit-app-region: none;
	-webkit-user-select: auto;
	user-select: auto;

	background-color: transparent;
	border-style: none;
}

#fields {
	background-color: #da4453;
	background-image: linear-gradient(to top, #da4453, #bb2534);
	border-radius: 4px 4px 0px 0px;
	box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.4);
	color: #ffffff;
	display: flex;
	flex-direction: column;
	padding: 12px 8px;
}

.text-label {
	font-size: 16px;
	font-weight: 600;
	padding: 4px 0px 8px;
}

#username-spot {
	display: block;
	font-size: 22px;
	font-weight: 200;
	line-height: 1.2;
}

input[type="password"],
input[type="text"] {
	background-color: #ffffff;
	border-radius: 4px;
	border-style: none;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
	display: block;
	font-size: 18px;
	margin: 4px 0px 16px;
	padding: 8px 14px;
	width: auto;
}

input[type="password"]:focus,
input[type="text"]:focus {
	box-shadow: 3px 3px 2px #01223f;
}

.checkbox-group {
	align-items: center;
	display: flex;
	margin-bottom: 8px;
}

.checkbox-group label {
	display: block;
	margin-right: 8px;
}

.checkbox-group input[type="checkbox"] {
	margin: 0px;
}

.button-bar {
	background-color: #da4453;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	padding: 10px;
}

.button-bar button {
	border: none;
	border-radius: 4px;
	color: #ffffff;
	font-size: 22px;
	font-weight: 300;
	min-width: 180px;
	padding: 8px 20px;
}

.button-bar button:active,
.button-bar button:focus,
.button-bar button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.button-bar .primary-btn {
	background-color: #26081d;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.button-bar .primary-btn:active,
.button-bar .primary-btn:focus,
.button-bar .primary-btn:hover {
	background-color: #100a06;
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}
